/* Navbar */
#navbar{
    display: block;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
}
#navbar ul{
    position: relative;
    align-items: center;
    justify-content: center;
}
#left h3{
    text-align: center;
}
/* Intro */
#primary{
    font-size: 1.5rem !important;
}
#intro{
    height: 150px;
    padding-top: 20px;
}
#myvideo{
    height: 150px;
}
/* Collection */
.boxes{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    margin: 20px;
    width: 250px;
    height: 400px;
}
.boxes{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Footer */
footer{
    flex-direction: column;
}